@layer components { 
    .browse {
        @apply
            max-md:hidden 
            flex 
            items-center
    }

    .browse-category {
        @apply
            flex 
            items-center 
            border-r 
            border-solid 
            border-(--border-color) 
            whitespace-nowrap
    }

    .search-bar {
        @apply
            h-full 
            w-full 
            block 
            bg-transparent 
            border-none 
            font-semibold 
            pt-0 
            pr-[10px] 
            pb-0 
            pl-[40px] 
            text-(--body-color) 
            font-(family-name:--body-font) 
            placeholder:text-(--placeholder)     
            bg-[url('data:image/svg+xml;charset=UTF-8,%3csvg%20xmlns%3d\'http%3A//www.w3.org/2000/svg\'%20width%3d\'24\'%20height%3d\'24\'%20fill%3d\'none\'%20stroke%3d\'%238b939c\'%20stroke-width%3d\'3\'%20stroke-linecap%3d\'round\'%20stroke-linejoin%3d\'round\'%20class%3d\'feather%20feather-search\'%3e%3ccircle%20cx%3d\'11\'%20cy%3d\'11\'%20r%3d\'8\'/%3e%3cpath%20d%3d\'M21%2021l-4.35-4.35\'/%3e%3c/svg%3e')]  
            bg-no-repeat  
            bg-[length:15px]  
            bg-[position:15px_50%]
            focus:outline-none
    }
}