@layer components { 
    .user-profile {
        @apply 
            relative 
            cursor-pointer 
            shrink-0
            before:content-[''] 
            before:absolute 
            before:bg-[#f86d72]
            before:w-[10px] 
            before:h-[10px] 
            before:rounded-full
            before:border-2 
            before:border-white
            before:right-[10px] 
    }

    .user-img {
        @apply 
            w-7 
            h-7 
            rounded-full 
            mr-[15px]
    }

    .profile-menu {
        @apply 
            flex
            items-center
            border-l 
            border-solid 
            border-(--border-color)
    }
}