:root {
 --body-bg-color: #e5f4f9;
 --body-color-light: #8b939c;
 --body-font: "Roboto", sans-serif;
 --page-bg-color: #f2f5f7;
 --body-color: #3d4954;
 --border-color: #b8bec3;
 --placeholder: #ccd0d2;
}